{% extends 'core/base.html' %}
{% load i18n %}
{% get_current_language as CURRENT_LANG %}
{% block content %}

<div class="container">
    <h1 style="text-align: center;">
        {% if CURRENT_LANG == 'en' %}Our Team{% else %}Нашият екип{% endif %}
    </h1>
    <br>
    {% for doctor in doctors %}
    <div class="card" style="margin-bottom: 40px;">
        {% if doctor.photo %}
            <img src="{{ doctor.photo.url }}"
                 style="width:180px; border-radius:16px; float:right; margin-left:30px;">
        {% endif %}

        <h2>{{ doctor.name }}</h2>
        <strong>{{ doctor.title }}</strong>

        <p>{{ doctor.bio }}</p>

        <h4>{% if CURRENT_LANG == 'en' %}Education{% else %}Образование{% endif %}</h4>
        <p>{{ doctor.education }}</p>

        <h4>{% if CURRENT_LANG == 'en' %}Qualifications{% else %}Квалификации{% endif %}</h4>
        <p>{{ doctor.qualifications }}</p>

        <h4>{% if CURRENT_LANG == 'en' %}Biography{% else %}Биография{% endif %}</h4>
        <p>{{ doctor.experience }}</p>
    </div>
    {% endfor %}
</div>

{% endblock %}
